.container {
    height: auto;
    padding: 20px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: teal;
}

.welcome { 
    text-align: center;
    padding: 20px;
    background-color: var(--white);
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px;
}

.tools { 
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}

p{
    color: black;
}


.about { 
    color: var(--white);
    font-size: small;
}





.mapping {
    padding: 20px;
    margin-top: 5px;
    background-color: var(--secondaryBlue);
    border-radius: 20px;
    text-decoration: none;
    color: var(--white);
    box-shadow: "0 3px 5px 2px";
}

.resources { 
    justify-content: center;
    padding: 20px;
    margin-top: 5px;
    background-color: var(--secondaryBlue);
    color: white;
    border-radius: 20px;
    box-shadow: "0 3px 5px 2px";
}